/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;900&display=swap'); */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 0px;
    background: rgba(0, 0, 0, 0.0);
}

a{
    color: var(--text);
    text-decoration: none;
    outline: none;
    user-select: auto;
}

textarea, button, input{
    border: 0;
    outline: 0;
    color: var(--text);
}


body{
    --text: #000;
    --bg: #fff;
    overflow-x: hidden;
    background: var(--bg);
    color: var(--text);
}





.works{
    display: flex;
    flex-direction: column;
}

.work{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: ease-out 0.5s;
    border-top: 5px solid black;
}

.work_img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.work_title{
    color: var(--bg);
    background: linear-gradient(30deg, black, transparent);
    height: 100%;
    width: 100%;
    font-weight: 900;
    font-size: 5vw;
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px;
}

.picked_work{
    height: 100vh;
    transition-delay: 0.5s;
}

.close_menu_btn,
.menu_btn,
.back_btn{
    position: fixed;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: blue;
    border: 4px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 900;
}

.menu_btn{
    z-index: 8;
}

.back_btn{
    z-index: 9;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
    border: 5px solid black;
}


.work_page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: ease-out 0.5s;
    border-top: 5px solid black;
}


.work_page_img{
    position: absolute;
    z-index: -1;
    width: 100%;
}


.work_page_title{
    color: var(--bg);
    background: linear-gradient(30deg, black, transparent);
    height: 100%;
    width: 100%;
    font-weight: 900;
    font-size: 5vw;
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px;
}

.init_section{
    height: 100vh;
    width: 100%;
    background:blue;
    position: relative;
}


.hide_page header{
    height: 50vh;
}

.hide_page .init_section{
    height: 0;
    opacity: 0;
    transition:  opacity 0.3s;
}

.next_page{
    height: 50vh;
    cursor: pointer;
}

.next_page_active{
    height: 100vh;
}

.next_page_active .work{
    height: 100vh;
    transition-delay: 0.5s;
}

.section{
    padding: 30px;
    height: 50vh;
    font-size: 10vw;
    font-weight: 900;
    border-top: 5px solid black;
    background: blue;
    color: black;
}

.section.section_movie{
    display: none;
}



.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
    border: 5px solid black;
}

.menu::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    top: calc(50% - 3px);
    transform: scaleX(0);
    transform-origin: left;
    background: black;
    transition: 0.2s;
    transition-delay: 2s;
}

.menu_show::after{
    transition-delay: 0s;
    transform: scaleX(1);
}


.menu_show{
    pointer-events: all;
}

.close_menu_btn{
    opacity: 0;
    z-index: 1;
    transition-delay: 2s;
}

.menu_show .close_menu_btn{
    transition-delay: 0s;
    opacity: 1;
}

.menu_box{
    position: relative;
    width: 100%;
    height: 50%;
    background: blue;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.5s;
    transition-delay: 1.5s;
}

.menu_show .menu_box{
    transition-delay: 0s;
    transform: scaleY(1);
}


.menu_item{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    overflow: hidden;
}


.menu_item span{
    position: relative;
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
    transform: translateY(130%) rotate(30deg);
    transform-origin: left;
    transition: transform 0.5s;
}

.menu_show .menu_item span,
.menu_show .menu_item span{
    transform: translateY(0) rotate(0);
}


.menu_item:nth-child(1) span:nth-child(1){
    transition-delay: 0.7s;
}
.menu_item:nth-child(1) span:nth-child(2){
    transition-delay: 0.5s;
}

.menu_item:nth-child(2) span:nth-child(1){
    transition-delay: 0.9s;
}
.menu_item:nth-child(2) span:nth-child(2){
    transition-delay: 0.7s;
}
.menu_item:nth-child(2) span:nth-child(3) {
    transition-delay: 0.5s;
}
.menu_item:nth-child(2) span:nth-child(4) {
    transition-delay: 0.9s;
}


.menu_link{
    padding: 0 2vw;
    background: black;
    color: blue;
    border: 4px solid black;
    cursor: pointer;
}

.menu_link:hover{
    background: blue;
    color: black;
} 